.bold {
  font-weight: 600;
}

.red {
  color: #c40808;
}

.greySlash {
  color: #a3a0a0;
  text-decoration: line-through;
}

.fntLg {
  font-size: 2.2rem;
}

.homeLilDv {
  padding: 0 2%;
}

.homeMainDiv {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.catImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.homeCatDv {
  position: relative;
  flex-basis: 30%;
}

.catName {
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  background: #c40808;
  padding: 1%;
  width: 100%;
}

/* .redBg {
  background: red;
  height: 100%;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  top: 0;
  width: 100%;
} */

/* .subProductsDiv {
  display: flex;
} */

.rand {
  display: flex;
  width: 100%;
}

.mainProductsDiv {
  padding: 2% 5%;
}

.productsDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  /* width: fit-content; */
}

.productsDivs {
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0;
}

.prodImg {
  width: 70%;
}

.prodLilDetails {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.prodLilImg {
  height: 200px;
  display: flex;
  justify-content: center;
  object-fit: contain;
  width: 100%;
  margin-bottom: 0.5rem;
}

.nextPrev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}

.nextPrev>button {
  background-color: #0b0b24;
  border: none;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
}

.catViewAll {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 800;
  color: #c40808;
  transition: 0.4s ease-in-out;
  width: fit-content;
}

.catViewAll:hover {
  text-decoration: underline;
  color: #0b0b24;
  transition: 0.4s ease-in-out;
}

.rotate {
  height: 70px;
  width: 70px;
  border: #c40808 4px solid;
  border-bottom: 4px solid transparent;
  border-radius: 50%;
  animation: roll 2s infinite linear;
}

.addCartButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

.cartAddRedButtons {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.finish {
  filter: grayscale(100%);
}

.prodStoreHead {
  text-align: center;
  background: #fff;
  z-index: 999;
  padding: 0.5rem;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .productsDiv {
    margin: 5px;
  }

  .prodLilImg {
    height: 100px;
    width: 100px;
  }

  .prodImg {
    height: auto;
    width: 100%;
  }

  .home {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: normal;
  }

  .addCartButton {
    display: none;
  }

  .homeLilDv {
    padding: 0 1%;
  }

  .mainProductsDiv {
    padding: 2% 1%;
  }

  .prodLilDetails {
    gap: 0.2rem;
  }

  .catViewAll {
    font-size: 3.8vw;
  }

  .prodStoreHead {
    text-align: center;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;
    padding: 0.5rem;
  }
}