.navHeader {
    width: 100%;
    background: #f13a3a;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.navHead {
    display: flex;
    justify-content: space-between;
    padding: 5px 5%;
    align-items: center;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid #fc1d1d;
}

.navHead>nav {
    display: flex;
    gap: 1rem;
    font-size: 18px;
    align-items: center;
}

.mainHead {
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
    background: #080222c4;
    border-bottom: 2px solid #fc1d1d;
    gap: 1rem;
    position: relative;
    height: 30%;
}

.mainHead>div {
    display: flex;
    justify-content: space-between;
}

.mainHead h1 {
    font-size: 1em;
}

.searchForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.searchForm>div>input {
    width: 50%;
}

.searchForm>div>p {
    font-size: 14px;
}

.search {
    padding: 0.5rem;
    width: 100%;
}

.navOptions {
    background: #f13a3a;
    height: 50%;
}

.navOptions>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 10px 5%;
    list-style-type: none;
    font-size: 16px;
    font-weight: 700;
    border-right: 2px solid #f13a3a;
}

.navCart {
    position: relative;
    width: fit-content;
    height: fit-content;
    color: #111;
}

.navCart>p {
    position: absolute;
    top: 0;
    right: -10%;
    font-weight: 700;
    background: #f70f0f;
    border-radius: 50%;
    height: max-content;
    width: max-content;
    padding: 0 0.2rem;
    font-size: 12px;
    color: #fff;
}

.navLink,
.navLogout {
    text-decoration: none;
    font-weight: 700;
}

.cartIcon {
    font-size: 30px;
    padding: 0.2rem;
}

.navLink.active {
    text-decoration: underline;
    color: #111;
}

.toggle {
    display: none;
    align-items: center;
    justify-content: right;
    height: inherit;
    padding: 0.5rem;
}

@media (min-width: 200px) and (max-width: 650px) {
    .navH1 {
        display: none;
    }

    .toggle {
        display: flex;
    }

    .navHeader {
        backdrop-filter: blur(50px);
        background: transparent;
        width: 50vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        transition: all 0.5s ease-in-out;
    }

    .navOptions {
        background: transparent;
        color: #111;
    }

    .mainHead {
        background: transparent;
        color: #111;
        height: fit-content;
    }

    .navLink,
    .navLogout {
        color: #111;
        background: #f70f0f;
        padding: 5px;
        color: #fff;
        width: 100%;
        border-radius: 6px;
    }

    .searchForm {
        display: none;
    }

    .navOptions>ul {
        border: none;
    }

    .hideNav {
        left: -100%;
        transition: all 0.5s ease-in-out;
    }
}