.card {
    height: 70vh;
    width: 70%;
    margin: auto;
}

@media (min-width: 200px) and (max-width: 650px) {
    .card {
        width: 90%;
        height: 80vh;
    }

    .spinner {
        height: 50px;
        width: 50px;
        border: 2px solid blue;
        border-right: 2px solid transparent;
        border-radius: 50%;
        animation: 1s rotate linear infinite;
        margin: auto;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(360deg);
        }
    }
}