@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
}

.fixPositionNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* .regRoute {
  margin-top: 0;
} */

.routes {
  margin-top: 150px;
}